@charset "UTF-8";
/* --------------------------------------------------
リセット
-------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 100%;
  font-weight: normal;
  clear: both;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
address,
section {
  display: block;
}

::-moz-selection {
  color: #FFFFFF;
  background-color: #141414;
}

::selection {
  color: #FFFFFF;
  background-color: #141414;
}

img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}

hr {
  display: none;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
}

input[type=submit],
input[type=button],
button {
  cursor: pointer;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.clearfix:after {
  clear: both;
}

* html .clearfix {
  zoom: 1;
  /* IE6 */
}

*:first-child + html .clearfix {
  zoom: 1;
  /* IE7 */
}

.clearfix {
  display: inline-table;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* --------------------------------------------------
関数
-------------------------------------------------- */
/* --------------------------------------------------
フォント指定
-------------------------------------------------- */
/* --------------------------------------------------
カラー指定
-------------------------------------------------- */
/* --------------------------------------------------
セクション
-------------------------------------------------- */
.l-container {
  width: 100%;
}

/* --------------------------------------------------
セクション
-------------------------------------------------- */
.l-section {
  padding: vw(48) 0 vw(80);
  margin: 0 auto;
  width: 100%;
}

/* --------------------------------------------------
セクション
-------------------------------------------------- */
.l-main {
  margin: 0 auto;
  width: 100%;
}

/* --------------------------------------------------
ヘッダー
-------------------------------------------------- */
.header {
  width: 92%;
  margin: 20px auto 50px;
}
.header__logo {
  width: 150px;
  margin: 0 auto;
}
.header__logo a {
  display: block;
}
.header__logo a img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* --------------------------------------------------
フッター
-------------------------------------------------- */
.l-footer__copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 0.8rem;
  text-align: center;
}

/* --------------------------------------------------
モーダルウィンドウ
-------------------------------------------------- */
.c-modal {
  padding: 0;
  margin: 0;
  /* モーダル部分のCSS */
}
.c-modal__inner {
  padding: vw(0) 0 vw(96);
}
.c-modal__head {
  width: 100%;
  height: vw(80);
  background-color: rgba(34, 49, 52, 0.9);
  display: flex;
  justify-content: space-between;
}
.c-modal__login {
  height: vw(80);
  padding: 0 vw(48);
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.c-modal__login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.c-modal__hero img {
  max-width: 100%;
  height: auto;
}
.c-modal__content {
  text-align: center;
}
.c-modal__btn {
  padding: vw(16) vw(48);
  color: white;
  background-color: #239b76;
  display: inline-block;
  opacity: 0.8;
  border-radius: vw(8);
  cursor: pointer;
}
.c-modal__btn:hover {
  opacity: 1;
}
.c-modal__login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.c-modal__signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.c-modal__innerbox {
  position: absolute;
  top: 30%;
  left: calc(50% - 45.33335vw);
  background-color: #e6ecf0;
  padding: vw(40) 0 vw(80);
  border-radius: vw(20);
  width: vw(680);
  height: auto;
  text-align: center;
}
.c-modal__close-btn {
  position: absolute;
  width: vw(30);
  height: vw(30);
  top: vw(10);
  right: vw(20);
  cursor: pointer;
}
.c-modal__close-btn:before {
  content: "";
  position: absolute;
  width: 40%;
  height: vw(48);
  background: #999;
  left: 0%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.c-modal__close-btn:after {
  content: "";
  position: absolute;
  width: 40%;
  height: vw(48);
  background: #999;
  left: 0%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

/* フォームボックス */
#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: vw(14) vw(140);
  background-color: #5dca88;
  border: none;
  border-radius: vw(6);
  color: white;
  margin: vw(20) auto;
  cursor: pointer;
}

/* --------------------------------------------------
モーダルウィンドウ（横スクロール）
-------------------------------------------------- */
.c-modal-scroll {
  padding: 0;
  margin: 0 auto;
  width: vw(680);
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  /* モーダル部分のCSS */
}
.c-modal-scroll__wrapper {
  padding: vw(0);
  width: vw(1390);
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: normal;
  border: vw(2) solid rgba(13, 48, 15, 0.12);
  border-collapse: collapse;
}
.c-modal-scroll__wrapper tr th {
  padding: vw(16);
  background-color: #666;
  color: #fff;
  text-align: center;
  font-weight: normal;
  border: vw(2) solid rgba(13, 48, 15, 0.12);
}
.c-modal-scroll__wrapper tr th:nth-of-type(1) {
  width: vw(180);
}
.c-modal-scroll__wrapper tr th:nth-of-type(2) {
  width: vw(320);
}
.c-modal-scroll__wrapper tr th:nth-of-type(3) {
  width: vw(240);
}
.c-modal-scroll__wrapper tr th:nth-of-type(4) {
  width: vw(180);
}
.c-modal-scroll__wrapper tr th:nth-of-type(5) {
  width: vw(180);
}
.c-modal-scroll__wrapper tr th:nth-of-type(6) {
  width: vw(180);
}
.c-modal-scroll__wrapper tr th:nth-of-type(7) {
  width: vw(260);
}
.c-modal-scroll__wrapper tr td {
  padding: vw(16);
  border: vw(2) solid rgba(13, 48, 15, 0.12);
  text-align: center;
}
.c-modal-scroll__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.c-modal-scroll__container:after {
  content: "";
  position: absolute;
  top: calc(25% - 11.333335vw);
  left: calc(50% - 11.066665vw);
  width: 22.13333vw;
  height: 22.66667vw;
  background: url(https://buff-design.com/sample/img/icon_scroll.png) center no-repeat;
  background-size: contain;
  z-index: 2;
  animation: 2s ease-in-out slide infinite;
}
@keyframes slide {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  90% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}
.c-modal-scroll__login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.c-modal-scroll__signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.c-modal-scroll__innerbox {
  position: absolute;
  top: 30%;
  left: calc(50% - 45.33335vw);
  background-color: #e6ecf0;
  padding: vw(40) 0 vw(80);
  border-radius: vw(20);
  width: vw(680);
  height: auto;
  text-align: center;
}
.c-modal-scroll__close-btn {
  position: absolute;
  width: vw(30);
  height: vw(30);
  top: vw(10);
  right: vw(20);
  cursor: pointer;
}
.c-modal-scroll__close-btn:before {
  content: "";
  position: absolute;
  width: 40%;
  height: vw(48);
  background: #999;
  left: 0%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.c-modal-scroll__close-btn:after {
  content: "";
  position: absolute;
  width: 40%;
  height: vw(48);
  background: #999;
  left: 0%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

/* --------------------------------------------------
スライダー（フォーム）
-------------------------------------------------- */
.c-form-slider {
  padding: 0;
  margin: 0;
}
.c-form-slider__inner {
  padding: vw(32);
}
.c-form-slider__title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}
.c-form-slider__index-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.c-form-slider__index-btn-wrapper li {
  margin-right: vw(16);
}
.c-form-slider__index-btn-wrapper li:last-of-type {
  margin-right: 0;
}
.c-form-slider__index-btn-wrapper li.current {
  color: #FFFFFF;
  background-color: #F57E11;
  animation: fadeIn 1s ease-out 0s 1 normal;
}
.c-form-slider__slide-inner {
  margin: vw(32) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-form-slider__slide-inner li {
  margin-bottom: vw(16);
  padding: vw(16);
  width: 49%;
  color: #0D300F;
  background-color: #F4F5F3;
  border: vw(2) solid rgba(13, 48, 15, 0.12);
}
.c-form-slider__slide-inner li:last-of-type {
  margin-bottom: 0;
}
.c-form-slider__slide-caution {
  padding: vw(8);
  color: #FFFFFF;
  background-color: #F21B3F;
}
.c-form-slider__slide-subtitle {
  padding: 0;
  margin: 0;
}
.c-form-slider__slide-attention {
  padding: vw(8);
  color: #0D300F;
  background-color: rgba(13, 48, 15, 0.16);
}
.c-form-slider__fix {
  padding: vw(100) 0;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.index-btn {
  color: rgba(13, 48, 15, 0.26);
  background-color: #F4F5F3;
  padding: vw(4) vw(16);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

.slides {
  padding: 0;
}
.slides li.active {
  display: block;
  animation: fadeIn 1s ease-out 0s 1 normal;
}

.slide {
  display: none;
}

.change-btn-wrapper {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: bold;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}
.next-btn {
  cursor: pointer;
  float: right;
}
.next-btn button:disabled {
  color: rgba(13, 48, 15, 0.26);
}
.next-btn button:disabled:hover {
  color: rgba(13, 48, 15, 0.26);
  opacity: 1;
}

.prev-btn button, .next-btn button {
  cursor: pointer;
  padding: 0;
  margin: 0 0 vw(8);
  width: vw(280);
  height: vw(100);
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  color: #0D300F;
  text-decoration: none;
  background-color: #F4F5F3;
  border-radius: vw(8);
  box-shadow: 0 vw(8) 0 rgba(13, 48, 15, 0.26);
  border: vw(2) solid rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-btn button:hover, .next-btn button:hover, .prev-btn button:focus, .next-btn button:focus, .prev-btn button:visited, .next-btn button:visited, .prev-btn button:active, .next-btn button:active {
  color: #0D300F;
  text-decoration: none;
}
.prev-btn button:hover, .next-btn button:hover {
  opacity: 0.5;
}

@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }
  /*アニメーション終了時は不透明度100%*/
}
/* --------------------------------------------------
スライダー（フォーム）
-------------------------------------------------- */
.p-article {
  text-align: center;
}