/* --------------------------------------------------
スライダー（フォーム）
-------------------------------------------------- */
.c-form-slider {
  padding: 0;
  margin: 0;

  &__inner {
    padding: vw(32);

  }

  &__title {
    @include fs-h2;
    text-align: center;
  }

  &__index-btn-wrapper {
    display: flex;
    justify-content: flex-end;

    li {
      margin-right: vw(16);

      &:last-of-type {
        margin-right: 0;

      }

      &.current {
        color: $Light-100;
        background-color: $Tertiary;
        animation: fadeIn 1s ease-out 0s 1 normal;
    
      }

    }

  }

  &__slide-inner {
    margin: vw(32) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-bottom: vw(16);
      padding: vw(16);
      width: 49%;
      color: $Dark-100;
      background-color: $Surface;
      border: vw(2) solid $Dark-012;

      &:last-of-type {
        margin-bottom: 0;

      }

    }

  }

  &__slide-caution {
    padding: vw(8);
    color: $Light-100;
    background-color: $Secondary;

  }

  &__slide-subtitle {
    padding: 0;
    margin: 0;

  }

  &__slide-attention {
    padding: vw(8);
    color: $Dark-100;
    background-color: $Dark-016;

  }

  &__fix {
    padding: vw(100) 0;
    @include fs-h1;
    text-align: center;

  }
  
}

.index-btn {
  color: $Dark-026;
  background-color: $Surface;
  padding: vw(4) vw(16);
  @include fs-Caption-S;
  
}

.slides {
  padding: 0;

  li {

    &.active {
      display: block;
      animation: fadeIn 1s ease-out 0s 1 normal;
      
    }

  }

}

.slide {
  display: none;

}

.change-btn-wrapper {
  @include fs-Button-S;

}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;

  button {
    @extend %__c-Btn;

  }

}

.next-btn {
  cursor: pointer;
  float: right;
  // display: none;

  button {
    @extend %__c-Btn;

    &:disabled {
      color: $Dark-026;

      &:hover {
        color: $Dark-026;
        opacity: 1;
      }

    }

  }

}

%__c-Btn {
  cursor: pointer;
  padding: 0;
  margin: 0 0 vw(8);
  width: vw(280);
  height: vw(100);
  @include fs-Button;
  text-align: center;
  color: $Dark-100;
  text-decoration: none;
  background-color: $Surface;
  border-radius: vw(8);
  box-shadow: 0 vw(8) 0 $Dark-026;
  border: vw(2) solid $Light-012;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:visited,
  &:active {
    color: $Dark-100;
    text-decoration: none;
  }
  &:hover {
    opacity: .5;
  }
}

@keyframes fadeIn { /*animation-nameで設定した値を書く*/

  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/

  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/

}