/* --------------------------------------------------
セクション
-------------------------------------------------- */
.l-main {
  margin: 0 auto;
  width: 100%;

  @include mq_up(md) {
    width: 750px;
  }
  
}