/* --------------------------------------------------
セクション
-------------------------------------------------- */
.l-section {
  padding: vw(48) 0 vw(80);
  margin: 0 auto;
  width: 100%;
}

.l-section-wrapper {
  width: 92%;
  max-width: 720px;
  margin: 0 auto 0px;
  padding: 0px 0 40px;

  @media screen and (max-width: 560px) {
    width: 92%;
  }
}